*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  height: 100%;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
