.main {
  display: flex;
  flex-direction: column;
}

.header {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px 96px 50px;
}

.header__link_active .header__link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link {
  display: list-item;
  list-style-type: circle;
  text-decoration: underline;
}

.header__logo {
  display: grid;
  align-content: start;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  align-content: start;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  align-items: center;
}

.header__links-list-main {
  display: flex;
  gap: 33px;
  font-size: 18px;
  align-items: center;
  width: 390px;
  height: 22px;
}

.header__links-list-item {
  list-style-type: none;
  display: inline;
}

.header__links-list-item_no-marker {
  list-style-type: none;
}

._no-marker {
  list-style-type: none;
}

.address {
  font-style: normal;
  line-height: 25px;
  text-decoration: underline;
}

.header__address {
  display: flex;
  align-items: center;
  justify-content: end;
}

.contacts {
  display: flex;
  width: 240px;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.town-address-one .town-address-two {
  display: flex;
  align-self: flex-start;
  line-height: 25px;
}

.phone-number .mail-number {
  display: flex;
  text-decoration: underline;
  align-self: flex-start;
  line-height: 25px;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.cover__title {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 15px;
  padding: 165px 50px 0px 50px;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  line-height: 115%;
}

.aligned-text
.aligned-text_center
.aligned-text_right {
  display: block;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  text-align: start;
  line-height: 115%;
}

.aligned-text_center {
  line-height: 118%;
  text-align: center;
  justify-self: center;
  margin-left: 35px;
}

.aligned-text_right {
  line-height: 118%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.new-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 112px 50px 50px 50px;
  color: #fff;
}

.cover__description-text {
  display: flex;
  position: relative;
  width: 637px;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  line-height: 28px;
  text-align: start;
  word-spacing: 18px;
  padding-left: 1px;
  letter-spacing: 0px;
}

.bet-button .cover__description-text {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
}

.bet-button {
  display: flex;
  padding: 12px 32px;
  text-align: end;
  font-size: 22px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
}

.lots {
  display: inline-block;
  width: 1052px;
  padding-top: 180px;
  margin: 0px 24px 0px;
}

.lots-title {
  margin-left: 40px;
  margin-bottom: 24px;
  color: #000;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.lots__card-list-item {
  display: flex;
  flex-wrap: wrap;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  flex-direction: column;
  column-gap: 24px;
  z-index: 2;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(./../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(./../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(./../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: Raleway, sans-serif;
  font-style: normal;
  text-decoration-skip-ink: none;
}

.text_on_card {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: Raleway, sans-serif;
  line-height: 120%;
  color: #fff;
  justify-content: space-around;
}

.lots_look-more-link {
  font-size: 20px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 32px;
  padding-bottom: 120px;
  color: #000;
}

.lots__look-more-link-text {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  width: 1052px;
  margin: 0px 24px 0px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: auto 693px;
  padding-top: 33px;
  gap: 30px;
}

.about__logo {
  display: flex; 
  background-color: #000;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
}

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 48px;
}

.about__content {
  display: grid;
  padding: 103px 0px 172px 0px;
  row-gap: 30px;
  font-size: 20px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  margin-bottom: 70px;
  width: 291px;
  height: 47px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: Raleway, sans-serif;
  line-height: 23px;
  color: #000;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  width: 1100px;
  height: 180px;
  padding: 11px 50px 0px 50px
}

.footer__contacts {
  display: flex;
  width: 264px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  list-style-type: none;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  width: 240px;
  height: 48px;
  gap: 48px;
  list-style-type: none;
  padding-bottom: 131px;
}

.footer__social-list-item-icon {
  width: 48px;
}

.footer__social-icon {
  padding-top: 6px;
  width: 48px;
  height: 48px;
}

.footer__menu-list-item_no-marker {
  list-style-type: none;
}





